.content .card {
  max-width: 300px;
  border-radius: 10%;
  transition: 0.3s;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  margin-right: 20px;
}

.content .card:hover {
  box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.card-img {
  height: 140px;
}

.card-content {
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1120px) {
  .content .card {
    width: auto;
    border-radius: 5px;
    max-width: 45%;
  }
}

@media screen and (max-width: 740px) {
  .content .card {
    max-width: none;
    margin-right: 0;
  }
}
