.content {
  overflow: auto;
  flex-grow: 1;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: var(--primary-dark);
}

.content-wrapper {
  width: 65%;
  margin: 0 auto;
  height: 100%;
}

.content-wrapper > div {
  height: 100%;
}

.content-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  margin-right: -20px;
}

.content-inner .MuiTypography-h5 {
  font-size: 1.1rem;
}

@media screen and (max-width: 1460px) {
  .content-wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 1300px) {
  .content-wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 880px) {
  .content-wrapper {
    width: 95%;
  }
  .content-inner {
    margin-right: 0px;
  }
}
