.content {
    overflow: auto;
}

.content-inner{
    width:80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 auto;
    padding-top: var(--padding-lg);
}
.content-inner > *{
    margin: 20px;
}

.content-inner .MuiTypography-h5{
    font-size: 1.1rem;
}