.credits {
  height: 100%;
  width: 100%;
  padding: var(--padding-md) 0;
  text-align: center;
}

.credits h4 {
  margin-bottom: var(--margin-sm);
}
.credits p a {
  text-decoration: underline;
}
.credits a {
  transition: 0.2s;
}
.credits a:hover {
  color: var(--primary-dark);
}

.credits > *:not(:last-child) {
  margin-bottom: var(--margin-md);
}

.credits-content {
  padding-bottom: var(--padding-xs);
}

.images .credits-content,
.techno .credits-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images a,
.techno a {
  max-width: 100%;
}

.credits-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: var(--margin-sm);
  overflow: hidden;
}

.icons .credits-img {
  overflow: unset;
}

.credits-img img {
  height: 250px;
  margin-bottom: var(--margin-sm);
}

.api .credits-content {
  text-align: center;
}

.icons .credits-img {
  text-align: center;
}

.icons .credits-img img {
  height: 60px;
}

@media screen and (max-width: 695px) {
  .images .credits-img,
  .techno .credits-img {
    margin-right: 0;
  }
}
