:root {
  --primary-light: #f5fff6;
  --primary-medium: #b3e3cc;
  --primary-dark: #1a8e79;
  --primary-dark-grey: #4e4e4e;
  --primary-fail: #f12954;
  --padding-xs: 0.5rem;
  --padding-sm: 1rem;
  --padding-md: 2rem;
  --padding-lg: 2.5rem;
  --margin-xs: 0.5rem;
  --margin-sm: 1.5rem;
  --margin-md: 2.3rem;
  --margin-lg: 3rem;
  --font-reg: inherit;
  --font-sm: 1.2rem;
  --scrollbar-width: 10px;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark);
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
}

#__next {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.MuiSvgIcon-root {
  fill: var(--primary-dark) !important;
}

/* Utilities */

.text-right {
  text-align: right;
}

.custom-icon {
  height: 1.1rem;
}

.tooltip {
  color: red;
}

.loader {
  margin: auto;
  height: 105px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin: var(--margin-xs) 0;
}

.btn-group > button:not(:last-child) {
  margin-right: var(--margin-xs);
}

.btn-group > button {
  border: 1px solid var(--primary-dark);
}

button {
  color: var(--primary-dark) !important;
}

.tab-panel-wrapper {
  height: 100%;
}

.tab-panel-wrapper > div {
  height: 100%;
}

.close-btn {
  top: 0;
  right: 0;
  background-color: var(--primary-light) !important;
  position: absolute !important;
}

.about,
.hire-me {
  padding-top: var(--padding-md);
}

.no-result-img {
  margin: auto;
}

.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

@media screen and (min-width: 501px) {
  .hide-on-large {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .hide-on-mobile {
    display: none;
  }

  .btn-group button {
    padding-top: 0;
    padding-bottom: 0;
  }
}
