#search-area {
  /* padding: var(--padding-sm); */
  background-color: var(--primary-light);
  position: relative;
}
#search-area::after {
  content: "";
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 9px 10px -4px rgba(0, 0, 0, 0.12);
}
#search-area::before {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 10px;
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2),
    0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -9px 10px -4px rgba(0, 0, 0, 0.12);
}

#search-area .filterBar {
  background-color: var(--primary-light);
}

#search-area input {
  border: none;
  padding: var(--padding-xs);
  padding-right: 2rem;
  background-color: transparent;
  color: var(--primary-dark);
  font-size: var(--font-md);
  outline: none;
  border-bottom: 2px solid grey;
  transition: border 0.2s;
}

#search-area input:focus {
  border-bottom: 2px solid var(--primary-dark);
}
#search-area .search-controls {
  margin-left: -3.7rem;
}
#search-area .search-icon-btn {
  fill: grey;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
#search-area input:focus #search-area .search-icon-btn {
  fill: var(--primary-dark);
}

#search-area .bg-btn {
  background: var(--primary-medium);
}

#search-area .tab-title {
  font-weight: bold;
  color: var(--primary-dark);
}

#search-area .tab-btn.Mui-selected {
  color: var(--primary-dark);
}

#search-area .PrivateTabIndicator-root-1 {
  background-color: var(--primary-dark);
}

#search-area .filter-tab-header {
  margin: 0;
}

#search-area .filter-tab-header .MuiTabs-indicator {
  top: 0px;
  height: 3px;
  bottom: auto;
}

#search-area .filter-tab-header,
#search-area .filter-tab-header button {
  min-height: 40px;
}

#search-area .content-inner {
  display: block;
}

#search-area .content-inner > * {
  margin: 0;
}
.tab-content-filter {
  padding-right: var(--scrollbar-width);
}
/* #search-area .btn-group button:first-child {
  width: 70%;
}

#search-area .btn-group button:nth-child(2) {
  width: 25%;
} */

#search-area .input-fields {
  height: 17vh;
  display: flex;
  flex-wrap: wrap;
}

#search-area .input-fields > * {
  width: 50%;
}

#search-area .tab-section {
  display: flex;
}

#search-area .tab-content-filter {
  height: 26vh;
  overflow: hidden;
  transition: 0.3s;
}

#search-area .collapsed {
  height: 0px;
  overflow: hidden;
}

#search-area .ingredient-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#search-area .form-control {
  margin-top: var(--margin-sm);
}

#search-area .form-control {
  display: flex;
}

#search-area .ingredient-section .form-control button {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid grey;
  margin-left: var(--margin-xs);
  background: var(--primary-medium);
}

#search-area .ingredient-section .form-control > *:first-child {
  flex-grow: 1;
}

#search-area .ingredient-section > div:nth-child(2) {
  flex-grow: 1;
  overflow: auto;
}
